if SHIELD_GHOST_MONUMENT_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Ghost Monument"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GHOST_MONUMENT_LEFT || SHIELD_GHOST_MONUMENT_RIGHT

config ZMK_SPLIT
    default y

endif
